@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-icon {
  @apply transition-all ease-in-out duration-300 aspect-square object-cover;
  border-radius: 50%;
}

.rounded-icon:hover {
  border-radius: 1rem;
}

.sidebar-icon {
  @apply flex items-center justify-center w-full relative transition-all ease-in-out duration-300;
}

.sidebar-icon::before {
  @apply transition-all duration-300 ease-in-out;
  --content-height: 0rem;
  --content-width: 0rem;
  --offset: -0.4rem;
  content: '';
  display:block;
  height: var(--content-height);
  width: var(--content-width);
  background: black;
  position: absolute;
  border-radius: 3px;
  left: var(--offset);
}